---
interface Props {
	id?: string;
	name: string;
	type?:
		| 'text'
		| 'email'
		| 'password'
		| 'number'
		| 'tel'
		| 'url'
		| 'search'
		| 'date'
		| 'time'
		| 'datetime-local'
		| 'month'
		| 'week'
		| 'color';
	label: string;
	description?: string;
	placeholder?: string;
	optional?: boolean;
}

const {
	id,
	name,
	type = 'text',
	label,
	description,
	placeholder,
	optional,
} = Astro.props;
const labelFor = id || name;
const inputId = id || name;
---

<div class="flow flow-space-2">
	<label for={labelFor}>
		{label}
		{
			optional && (
				<span class="text-gray-500 uppercase text-xs"> optional</span>
			)
		}
	</label>
	<input type={type} id={inputId} name={name} placeholder={placeholder} />
	{description && <p class="text-sm text-gray-600">{description}</p>}
</div>
